body{
    height: 100vh;
    background: rgb(242,203,114);
    background: radial-gradient(circle, rgba(242,203,114,1) 0%, rgba(255,243,181,1) 100%); 
}
.card{
    background-color: rgb(218, 169, 96) ;
    color: white;
}

.card .form-control{
border: rgb(218, 169, 96);
}
.Rev-btn button{
    background-color: rgb(87, 62, 26); 
    color :white;
    border-radius: 6px;
}
.Rev-btn button:hover{
    color: rgb(217, 142, 62);
}

.active{
background-color:  rgb(87, 62, 26) ;
color :white;
margin: 15px;
padding: 15px 10px;
border-radius: 6px;
transition: 0.3s;
max-width: 18rem;
}
body>div{
    position: relative;
}
.name-cont{
    position: relative;
    height: 4vh;
}
.Yname{

    animation: Ycolors 2s infinite;
    text-shadow: 1px 1px 10px white;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 1px 1px 10px white;


}
@media (max-width:520px){
    .Yname{
        opacity:0 ; 
    }
}

@keyframes Ycolors {
    0%   {color: black; left:48%;}
    25%  {color:  rgb(218, 169, 96) ;left: 52%;}
    50%  {color: black; left: 48%;}
    75%  {color:  rgb(218, 169, 96); left: 52%;}
    100% {color: black; left: 48%;}
}